{{ define "content" }}

<aside id="aside" class="card">
  <p>this will have some info</p>
</aside>
  
{{ range .Threads }}

<br/>
  <div id="thread" class="card" style=" margin-bottom: 5rem; width: 30vw; max-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">{{ .Topic }}</h5>
      <h6 class="card-title">{{ .Body }}</h6>
      <p class="card-text">Started By {{ .CreatedBy }}</p>
      <p class="card-text">{{ .CreatedAt }}</p>
      <a class="btn btn-primary" href="/thread/read?id={{.Uuid }}">Read More</a>
    </div>
  </div>

  <style>
    aside {
  
      width: 35%;
      height: 60vh;
  
      margin-top: 4rem;
      margin-left: 1rem;
      margin-right: 5rem;
      align-content: center;
      text-align: center;
      float: right;
      font-style: italic;
      border: solid  0.05rem;
      border-radius: 0.1rem;
    }
    @media screen and (min-width: 0px) and (max-width: 880px) {
    #aside { display: none; }
     #thread {  min-width: 90%; margin: 5%; }
  }
  </style>

{{ end }}

{{ end }}