{{ define "content" }}

<form class="form-signin center" role="form" action="/authenticate" method="post">
  <h2 class="form-signin-heading" style="margin-bottom: 10px;">
    <i class="fa fa-comments-o" style="font-family: 'Work Sans',sans-serif;">
      Welcome!
    </i>
  </h2>
  <input type="email" name="email" class="form-control" placeholder="Enter Your Email Id here" required autofocus style="margin-bottom: 20px;">
  <input type="password" name="password" class="form-control" placeholder="Enter Password here" required>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
  <br/>
</form>

{{ end }}