{{ define "private.navbar" }}
<nav class="navbar navbar-expand-lg navbar-light" style="position: fixed; z-index: 1; width: 100vw; background-color: #007d9c; margin-bottom: 2rem;">
  <div class="container-fluid">
    <a class="navbar-brand">Gorum</a>
      <div class="navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link" href="/thread/new">Start Thread</a>
        <a class="nav-link disabled">hey, {{ .Username }}!</a>
      </div>
    </div>
  </div>
</nav>
<div style="background-color: #006c86; height: 10rem; width: 100vw; overflow-x: hidden;">
</div>
{{ end }}
