{{ define "content" }}

<div class="panel panel-default">
  <div class="panel-heading" style="margin-top: 2rem; border: solid grey 0.05rem;">
    <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Thread.Topic }}</span>
    <br/>
    <br/>
    <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Thread.Body }}</span>
    <div class="pull-right">
        <br/>
      Started by {{ .Thread.CreatedBy }} - {{ .Thread.CreatedAt }}
    </div>
</div>

{{ range .Post }}
    <div class="panel-body" style="margin-top: 2rem; padding: 2rem; border: solid black 0.1rem;">
      <span class="lead"> <i class="fa fa-comment"></i> {{ .Body }}</span>
      <div class="pull-right">
        {{ .CreatedBy }} - {{ .CreatedAt }}
      </div>    
    </div>
{{ end }}
    
<div class="panel panel-info">
  <div class="panel-body">
    <form role="form" action="/thread/post" method="post">
      <div class="form-group">
        <textarea class="form-control" name="body" id="body" placeholder="Write your reply here" rows="3"></textarea>
        <br/>
        <button class="btn btn-primary pull-right" type="submit">Reply</button>
        <input type="hidden" name="uuid" value="{{ .Thread.Uuid }}">
      </div>
    </form>
  </div>
</div>
</div>

    
{{ end }}