{{ define "public.navbar" }}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1295c0;">
  <div class="container-fluid">
    <a class="navbar-brand">Gorum</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/signup">Signup</a>
        <!-- <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>
<div style=" background-color: #087194; height: 10rem; width: auto; overflow-x: hidden;">
</div>
{{ end }}